.background {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 600px;
  background-color: white;
  border-color: gray;
  border-width: 10px;
  border-style: solid;
}

.square {
  /* använd px i stora och % i lilla pga då ändras lilla i förhållande till stora */
  display: flex;
  width: 90%;
  height: 30%;
  margin: auto;
}

#darkRed {
  background-color: rgb(88, 0, 0);
}

#darkYellow {
  background-color: rgb(208, 168, 5);
}

#darkGreen {
  background-color: rgb(2, 88, 2);
}

.smallSquare {
  display: flex;
  width: 90%;
  height: 90%;
  margin: auto;
}

#red {
  background-color: red;
}

#yellow {
  background-color: rgb(255, 204, 1);
}

#green {
  background-color: rgb(1, 197, 1);
}

.tinyRed {
  align-self: flex-end;
  width: 100%;
  height: 50%;
  background-color: white;
  opacity: 50%;
}

.tinyYellow {
  align-self: flex-end;
  width: 50%;
  height: 50%;
  background-color: white;
  opacity: 50%;
}

.tinyGreen {
  align-self: flex-end;
  width: 50%;
  height: 50%;
  background-color: white;
  opacity: 50%;
}
